<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <meta charset="utf-8" />
    <meta http-equiv="keywords" content="">
    <meta http-equiv="description" content="">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/public/style/base/common.css' />
  </head>
  <body>
    index
  </body>
</html>
