@charset "UTF-8";
//-----------------------------------------------------	
//@name    variable
//@desc    define base variable
//@author  guozd
//@date    2015-07-21
//-----------------------------------------------------	


// color
$red:            #cc220b !default;
$blue:           #05c !default;
$black:      	 #000 !default;
$orange:         #f37137 !default;
$orangeDarker:   #e7652b !default;
$gray:           #999 !default;
$grayDark:       #666 !default;
$grayDarker:     #333 !default;
$grayLight:      #ccc !default;
$white:          #fff !default;
$borderColor:    #e6e6e6 !default;             //页面大部分模块框架边框颜色
$inpBorderColor: #d9d9d9 #a7ceec !default;     //页面输入框边框正常颜色和获取焦点后颜色,通过nth($inpBorderColor,1)、nth($inpBorderColor,2)分别读取

$primaryColor:   #40be7f;
$linkHoverColor: #40be7f;


// font family
$baseFontSize:   16px !default;
$baseLineHeight: 1.5 !default;
$fontYaHei:      "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif !default;
$fontSimsun:     "\5B8B\4F53", Arial, sans-serif !default;
$fontArial:      Arial, sans-serif !default;


// font size
$f12: $baseFontSize * .75;
$f14: $baseFontSize * .875;
$f16: $baseFontSize * 1;
$f18: $baseFontSize * 1.125;
$f20: $baseFontSize * 1.25;
$f24: $baseFontSize * 1.5;
$f30: $baseFontSize * 1.875;
$f36: $baseFontSize * 2.25;
$f42: $baseFontSize * 2.625;
$f48: $baseFontSize * 3;

//base width
$baseWidth: 1270px !default;        //宽屏宽度
$baseNarrowWidth: 990px !default;   //窄屏宽度
$baseSpaWidth: 1070px !default;     //没有左右侧边栏，中间的宽度