.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}
  
.site-layout {
	.mian-content{
		display: flex;
		flex-direction: column;
		.site-layout-background{
			background: #fff;
			height: 0;
			flex: 1 1 auto;
			overflow-y: auto;
		}
	}
}
[data-theme="dark"] .site-layout .site-layout-background {
	background: #141414;
}